body {
    font-family: Arial, sans-serif;
    background: #e1c89b;
    color: #ffffff;
    font-size: 20px;
}

.homepage {
    background-color: #5f4534;
    max-width: 1000px;
    padding: 20px;
    border: 10px solid #fff6d8;
    margin: auto;
}

p {
    margin-top: -20px;
}

h1 {
    font-size: 30px;
}