body {
    font-family: 'Brush Script MT', cursive;
    background: rgb(225, 200, 155);
    color: #ffffff;
    font-size: 20px;
}

.homepage {
    background-color: #5f4534;
    max-width: 500px;
    padding: 20px;
}

p {
    margin-top: -20px;
}

h1 {
    font-size: 30px;
}